@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
  .text-stroke {
  -webkit-text-stroke: 1px white;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer utilities {
  .grain-effect {
    position: relative;
    overflow: hidden;
  }

  .grain-effect::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/assets/photo/bedge-grunge.png'); /* Local file path */
    background-repeat: repeat;
    opacity: 0.15; /* Adjust opacity as needed */
    pointer-events: none;
  }

}

@layer base {
  :root {
            --radius: 0.5rem;
      }
}